.property-management {
  flex: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navigation-bar"
    "content";
  background: var(--mui-palette-background-default);

  .navigation-bar {
    grid-area: navigation-bar
  }

  .property-management-content {
    grid-area: content;
    display: flex;
    gap: 16px;
    padding: 16px 16px 0;

    overflow: auto;

    .property-management-content-container {
      display: flex;
      flex-direction: column;
      overflow: auto;
      padding: 24px;
      flex: 1;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
    }
  }
}