.property-management {
  flex: 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navigation-bar"
    "content";
  background: var(--mui-palette-background-default);

  .navigation-bar {
    grid-area: navigation-bar
  }

  .property-management-content {
    grid-area: content;
    display: flex;
    gap: 16px;
    padding: 16px;
    overflow: auto;

    .property-management-content-container {
      overflow: auto;
      padding: 16px;
      flex: 1;
    }
  }
}