.frame-layout {
    .questionaire-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        overflow: auto;
    }

    .header, .questions {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .questions {
        gap: 32px;
        .question {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .question-input {
                margin-left: 32px;
                margin-right: 16px;
            }
        }
    }

    .action-row {
        display: flex;
        justify-content: flex-end;
    }
}
