-- CreateTable
CREATE TABLE "Survey" (
    "id" SERIAL NOT NULL,
    "active" BOOLEAN NOT NULL,
    "invitationCode" TEXT NOT NULL,
    "useCaseId" INTEGER NOT NULL,

    CONSTRAINT "Survey_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UseCase" (
    "id" SERIAL NOT NULL,
    "url" TEXT NOT NULL,
    "surveyId" INTEGER NOT NULL,

    CONSTRAINT "UseCase_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EMail" (
    "id" SERIAL NOT NULL,
    "subjectName" TEXT NOT NULL,
    "subjectEmail" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "useCaseId" INTEGER NOT NULL,

    CONSTRAINT "EMail_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Participation" (
    "id" SERIAL NOT NULL,
    "state" TEXT NOT NULL,
    "useCaseOrder" TEXT NOT NULL,
    "promptHistory" TEXT NOT NULL,
    "surveyId" INTEGER NOT NULL,
    "userId" INTEGER NOT NULL,

    CONSTRAINT "Participation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UseCaseParticipation" (
    "id" SERIAL NOT NULL,
    "promptHistory" TEXT NOT NULL,
    "participationId" INTEGER NOT NULL,
    "useCaseId" INTEGER NOT NULL,

    CONSTRAINT "UseCaseParticipation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ParticipationData" (
    "id" SERIAL NOT NULL,
    "data" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "useCaseParticipationId" INTEGER NOT NULL,

    CONSTRAINT "ParticipationData_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" SERIAL NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- AddForeignKey
ALTER TABLE "UseCase" ADD CONSTRAINT "UseCase_surveyId_fkey" FOREIGN KEY ("surveyId") REFERENCES "Survey"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EMail" ADD CONSTRAINT "EMail_useCaseId_fkey" FOREIGN KEY ("useCaseId") REFERENCES "UseCase"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Participation" ADD CONSTRAINT "Participation_surveyId_fkey" FOREIGN KEY ("surveyId") REFERENCES "Survey"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Participation" ADD CONSTRAINT "Participation_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UseCaseParticipation" ADD CONSTRAINT "UseCaseParticipation_participationId_fkey" FOREIGN KEY ("participationId") REFERENCES "Participation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UseCaseParticipation" ADD CONSTRAINT "UseCaseParticipation_useCaseId_fkey" FOREIGN KEY ("useCaseId") REFERENCES "UseCase"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ParticipationData" ADD CONSTRAINT "ParticipationData_useCaseParticipationId_fkey" FOREIGN KEY ("useCaseParticipationId") REFERENCES "UseCaseParticipation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

