.navigation-bar {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    background: var(--top-bar-bg);
    padding-left: 16px;
    padding-right: 16px;

    .left-side {
      display: flex;
      gap: 24px;
      align-items: center;

      .nav-items {
        display: flex;
        gap: 16px;

        .MuiButtonBase-root {
          text-transform: none;
          border-radius: 16px;
          padding: 6px 16px;
          font-size: 14px;
          color: var(--primary-container-color);


          &.nav-element-selected {
            background: var(--primary-container-bg);

            &:hover {
              background: var(--primary-container-hover);
            }
          }

          .nav-icon.MuiSvgIcon-root {
            font-size: 24px;
          }
        }
      }
    }
    .survey-information {
        display: flex;
        gap: 12px;
        align-items: center;
    }
}