.maintenance {
    display: flex;
    flex-direction: column;
    height: 100%;

    .MuiDataGrid-root {
        width: 100%;
        .MuiDataGrid-cell {
            display: flex;
            align-items: center;
            .email {
                font-size: 14px;
            }
        }
    }
}