.app-layout {
  display: flex;
  height: 100vh;

  .email-client, .content {
    height: 100%;
  }

  .email-client {
    width: 45vw;
  }

  .property-management {
    width: 55vw;
  }

  &.email-client-minimized {
    .email-client {
      width: 20vw;
    }
    .property-management {
      width: 80vw;
    }
  }

  .email-client {
    max-height: 100vh;
  }
}
