:root {
  --primary-container-bg: rgba(var(--mui-palette-primary-mainChannel) / 0.3);
  --primary-container-hover: rgba(var(--mui-palette-primary-mainChannel) / 0.4);
  --primary-container-color: rgba(var(--mui-palette-common-onBackgroundChannel) / 0.9);
  --primary-container-secondary-color: rgba(var(--mui-palette-common-onBackgroundChannel) / 0.8);

  // Calendar styling
  .rdp-root {
    --rdp-accent-color: var(--mui-palette-primary-main);
    --rdp-accent-background-color: var(--primary-container-bg);
    --rdp-range_start-color: var(--mui-palette-primary-contrastText);
    --rdp-range_end-color: var(--mui-palette-primary-contrastText);
  }

  .dark {
    --ai-agent-color-1: rgba(224, 64, 251, 0.35);
    --ai-agent-color-1-hover: rgba(224, 64, 251, 0.5);
    --ai-agent-color-2: rgba(0, 188, 212, 0.35);
    --ai-agent-color-2-hover: rgba(0, 188, 212, 0.5);
    --paper-container-bg: #292b29;
    --top-bar-bg: #1a1c1a;
    --card-container-bg: #333533;
  }
  .light {
    --ai-agent-color-1: rgba(224, 64, 251, 0.3);
    --ai-agent-color-1-hover: rgba(224, 64, 251, 0.45);
    --ai-agent-color-2: rgba(0, 188, 212, 0.3);
    --ai-agent-color-2-hover: rgba(0, 188, 212, 0.45);
    --paper-container-bg: #eeeeea;
    --top-bar-bg: #e8e8e5;
    --card-container-bg: #f4f4f0;
  }
}

canvas {
  z-index: 3 !important;
}

.rdp-root {
  .rdp-week {
    .rdp-range_middle {
      &:first-child {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
      }
      &:last-child {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }
    }
  }
  .rdp-day {
    &:not(.rdp-selected):hover {
      border-radius: 100%;
    }
    &:hover {
      background: var(--primary-container-hover);
    }
    &.rdp-selected {
      font-size: unset;
      font-weight: unset;

      &.rdp-range_end {
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }

      &.rdp-range_start {
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
      }
    }
  }

  .rdp-today .rdp-day_button {
    border-radius: 100%;
    border: 2px solid var(--primary-container-bg);
    &:hover {
      border: none;
    }
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html, body, .fui-FluentProvider {
  height: 100%;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.ai-agent.MuiButtonBase-root, .smart-paste-button.MuiButtonBase-root {
  background: linear-gradient(90deg, var(--ai-agent-color-1) 0%, var(--ai-agent-color-2) 100%);
  color: var(--colorNeutralForeground2);
  &:hover {
    background: linear-gradient(90deg, var(--ai-agent-color-1-hover) 0%, var(--ai-agent-color-2-hover) 100%);
  }
}

@mixin smart-changes-basic($borderWidth: 3px, $margin: null) {
  background:
          linear-gradient(var(--smart-changes-element-background-color), var(--smart-changes-element-background-color)) padding-box,
          linear-gradient(var(--paper-container-bg), var(--paper-container-bg)) padding-box,
          linear-gradient(to top right, var(--ai-agent-color-1) 0%, var(--ai-agent-color-2) 100%) border-box;
  border: $borderWidth solid transparent;
  margin: if($margin == null, -$borderWidth, $margin);
  &:hover {
    background:
            linear-gradient(var(--smart-changes-element-background-color), var(--smart-changes-element-background-color)) padding-box,
            linear-gradient(var(--paper-container-bg), var(--paper-container-bg)) padding-box,
            linear-gradient(to top right, var(--ai-agent-color-1-hover) 0%, var(--ai-agent-color-2-hover) 100%) border-box;

  }
}

//Navigationbar buttons
.navigation-bar .nav-items .MuiButtonBase-root {
  &.smart-changes {
    --smart-changes-element-background-color: var(--top-bar-bg);
    &:hover {
      --smart-changes-element-background-color: var(--variant-textBg);
    }
    @include smart-changes-basic(6px);
  }

  &.nav-element-selected.smart-changes {
    --smart-changes-element-background-color: var(--primary-container-bg);
    &:hover {
      --smart-changes-element-background-color: var(--primary-container-hover);
    }
    @include smart-changes-basic(6px);
  }
}

// Textfield
input.MuiInputBase-input.smart-changes {
  --smart-changes-element-background-color: var(--mui-palette-FilledInput-bg);
  &:hover {
    --smart-changes-element-background-color: var(--mui-palette-FilledInput-hoverBg);
  }

  @include smart-changes-basic();
  border-radius: 8px;

  &.MuiFilledInput-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Autocomplete
.MuiAutocomplete-root.smart-changes  {
  --smart-changes-element-background-color: var(--mui-palette-FilledInput-bg);
  &:hover {
    --smart-changes-element-background-color: var(--mui-palette-FilledInput-hoverBg);
  }
  .MuiInputBase-root {
    background: transparent;
  }
  @include smart-changes-basic();
  border-radius: 12px 12px 0 0;

}

// Textarea
.MuiInputBase-root:has(textarea.smart-changes) {
  --smart-changes-element-background-color: var(--mui-palette-FilledInput-bg);
  &:hover {
    --smart-changes-element-background-color: var(--mui-palette-FilledInput-hoverBg);
  }
  @include smart-changes-basic(3px, -3px 0 -3px 0);
}

// Radio and Checkbox
.MuiRadio-root, .MuiCheckbox-root {
  &.smart-changes {
    --smart-changes-element-background-color: transparent;
    &:hover {
      --smart-changes-element-background-color: rgba(var(--mui-palette-primary-mainChannel) / var(--mui-palette-action-hoverOpacity))
    }
    @include smart-changes-basic();
  }
}
// Contained buttons
.MuiButton-containedPrimary {
  &.smart-changes {
    --smart-changes-element-background-color: var(--variant-containedBg);
    &:hover {
      --smart-changes-element-background-color: var(--mui-palette-primary-dark);
    }
    @include smart-changes-basic(6px);
  }
}
